{% extends "app_store/base.html" %}
    
{% block content %}

    <div class="container mt-5 mb-5 text-center">
        <div class="row row-cols-1 row-cols-md-4 g-5">
            {% for blog in all_blogs %}
                <div class="col">
                    <div class="card h-100 shadow-lg">
                        <!-- <img class="card-img-top" src="{{ blog.image.url }}" alt="Card image cap"> -->
                        <!-- Image on top of card -->
                        <div class="card-body">
                            <h5 class="card-title lead"><a href="{% url 'blog-detail' blog.id %}">{{ blog.title }}</a></h5>
                            <p>{{ blog.content | truncatechars:120 }}</p>
                        </div>
                        <div class="card-footer">
                            <p><small>- [author name] </small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-danger m-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-danger m-1" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-danger m-1" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-danger m-1" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        {% endif %}
    </div>


{% endblock content %}


