{% extends "app_store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="container rounded mt-3 card">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center p-3 py-5">
                    <img class="img-thumbnail" style="background-color: #ffeb00 ;" width="150px" src="{% static 'app_store/site_images/home_page_img.svg' %}">
                    <!-- <span class="border px-3 p-1 mt-1 text-primary">+ update image</span> -->
                    <span class="mt-2">{{ user.username }}
                </div>
            </div>
            <div class="col-md-5 border-right">
                <form class="p-3 py-5" action=" {% url 'profile' %} " method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-2">
                        <button class="btn btn-success profile-button" type="submit">Update Profile</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <!-- custom (add recent orders) -->
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center wish-list"><h4>Wish List</h4><span class="border px-3 p-1"><a class="text-decoration-none" href="{% url 'wishlist-products' %}">See All</a></span></div><br>
                    <div class="recent-wishlisted">
                        {% for product in products_in_wishlist %}
                            <div><a href="{% url 'product-detail' product.product.id %}">{{ product.product.title }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}