{% extends "app_store/base.html" %}
{% load static %}

{% block content %}
    <div class="banner-card d-flex justify-content-center">
        <img src="{% static 'app_store/site_images/home_page_img.svg' %}" class="img-responsive" alt="...">
    </div> 

    <div class="text-center mt-5">
        <!-- custom  quote -->
        <div class="display-5">The best deals should not be hard to find</div>
        <div class="display-5">Don't forget us when remembering where you found that deal</div>
    </div>

    <div class="container mt-5 mb-5 text-center">
        <div class="lead mb-5">Featured Items</div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in all_featured_products %}
            <div class="col featured-items d-flex justify-content-center banner-card">
                <div class="card h-100">
                    <!-- custom -->
                    <a href="{% url 'product-detail' product.id %}"><img src="{{ product.thumbnail_image.url }}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <!-- custom -->
                        <h5 class="card-title"><a class="link-dark" href="{% url 'product-detail' product.id %}">{{ product.title }}</a></h5>
                        <p>$ {{ product.price }}</p>
                        {% if user.is_authenticated %}
                            {% if product.id in current_user_wishlist_products %}
                                <button class="btn btn-outline-dark alter-wishlist" id="{{ product.id }}">Remove from Wishlist</button>
                            {% else %}
                                <button class="btn btn-outline-dark alter-wishlist" id="{{ product.id }}">Add to Wishlist</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'app_store/js/wishlist_add_remove.js' %}"></script>
{% endblock %}