{% extends "app_store/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 mb-5 text-center">
        <div class="display-6 mb-3"><span class="p-2"> Items For Sale </span></div>
        <div class="mt-1 row row-cols-1 row-cols-md-3 g-4">
            {% for product in all_products %}
            <div class="col featured-items d-flex justify-content-center">
                <div class="card h-100">
                    <!-- custom -->
                    <a href="{% url 'product-detail' product.id %}"><img src="{{ product.thumbnail_image.url }}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <!-- custom -->
                        <h5 class="card-title"><a class="link-dark" href="{% url 'product-detail' product.id %}">{{ product.title }}</a></h5>
                        <!-- <p class="card-text">{{ product.description }}</p> -->
                        <p>$ {{ product.price }}</p>
                        {% if user.is_authenticated %}
                            {% if product.id in current_user_wishlist_products %}
                                <button class="btn btn-outline-dark alter-wishlist" id="{{ product.id }}">Remove from Wishlist</button>
                            {% else %}
                                <button class="btn btn-outline-dark alter-wishlist" id="{{ product.id }}">Add to Wishlist</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-danger m-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-danger m-1" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-danger m-1" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-danger m-1" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'app_store/js/wishlist_add_remove.js' %}"></script>
{% endblock %}