body {
    background: #ffeb00; /* #e62b2f, #003055 */
}

/* -- Embedded Text Home page Image -- */
.banner-card {
    position: relative;
}

.banner-card img {
    max-width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    bottom: 0;
    color: #000000;
    padding: 10px;
    right: 25%;
} /* ---------------------------------- */

.featured-items a {
    color: #003055;
    text-decoration: none;
  }

.carousel-control-next-icon {
    background-color: #003055;
    border-radius: 5px;
    padding: 20px;
}

.carousel-control-prev-icon {
    background-color: #003055;
    border-radius: 5px;
    padding: 20px;
}